
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section naviheader{

    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/admin/home" class="nav-link">Trang chủ</a>
        </li>
    </ul>
}

<section class="content">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Dành cho đại lý Tứ Quý Auto</h3>
            
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-12 text-center text-danger">
                    Chọn chức năng!
                </div>
                <hr />
                <div class="col-md-4 text-center">
                    <a href="products/add" class="btn btn-info">Thêm sản phẩm mới</a>
                </div>
                <div class="col-md-4 text-center">
                    <a href="order" class="btn btn-success">Đơn hàng</a>
                </div>
                <div class="col-md-4 text-center">
                    <a href="account" class="btn btn-danger">Tài khoản</a>
                </div>
            </div>
           
        </div>
        <div class="card-footer">
            <h5 class="card-title">Cảm ơn!</h5>
        </div> 
    </div>

</section>





