@{
    ViewBag.Title = "Giỏ hàng";
}

<link rel="stylesheet" type="text/css" href="~/content/assets/styles/categories_styles.css">
<link rel="stylesheet" type="text/css" href="~/content/assets/styles/categories_responsive.css">

<div class="container product_section_container">
    <div class="row">
        <div class="col product_section clearfix">

            <!-- Breadcrumbs -->

            <div class="breadcrumbs d-flex flex-row align-items-center">
                <ul>
                    <li><a href="/">Trang chủ</a></li>
                    <li class="active"><a href="/gio-hang"><i class="fa fa-angle-right" aria-hidden="true"></i>Giỏ hàng</a></li>
                </ul>
            </div>

            <!-- Main Content -->

            <div class="row">
                <div class="col-md-12" id="load_data">
                    @Html.Action("Partial_Item_Cart", "ShoppingCart")
                </div>
                <div class="col-md-12">
                    @if (ViewBag.CheckCart != null)
                    {
                        <div class="row">
                            <div class="col-md-3">
                                    <a href="#" class="btn btn-outline-danger btnDeleteAll" style="width:100%">Xoá tất cả <i class="fa fa-trash" aria-hidden="true"></i></a>
                            </div>
                            <div class="col-md-5" >
                                    <a href="/san-pham" class="btn btn-info" style="width:100%">Mua thêm <i class="fa fa-cart-plus" aria-hidden="true"></i> </a>
                                </div>

                            <div class="col-md-4" >
                                <a href="/thanh-toan" class="btn btn-success" style="width:100%">Thanh toán <i class="fa fa-money" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    }

                </div>
            </div>
        </div>
    </div>
</div>





