@model WebBanHangOnline.Models.OrderViewModel


<link rel="stylesheet" type="text/css" href="~/content/assets/styles/categories_styles.css">
<link rel="stylesheet" type="text/css" href="~/content/assets/styles/categories_responsive.css">
<link rel="stylesheet" type="text/css" href="~/content/assets/styles/abcde.css">


@using (Ajax.BeginForm("CheckOut", "ShoppingCart", new AjaxOptions
    {
        HttpMethod = "POST",
        UpdateTargetId = "load_data",
        OnComplete= "OnSucessCO",
        OnFailure = "OnFailure",
    }, new {@Id= "myForm"}))
{
    <div class="row">
        <div class="col-md-4">
            @Html.AntiForgeryToken()
            <h4>Thông tin khách hàng</h4>
            <div class="form-group">
                <input placeholder="Họ tên khách hàng" type="text" name="CustomerName" required class="form-control" autocomplete="off" />
            </div>
            <div class="form-group">
                <input placeholder="Số điện thoại" type="text" name="Phone" class="form-control" autocomplete="off" />
            </div>
            <div class="form-group">
                <input placeholder="Địa chỉ" type="text" name="Address" class="form-control" autocomplete="off" />
            </div>
            <div class="form-group">
                <input placeholder="E mail" type="email" name="Email" class="form-control" autocomplete="off" />
            </div>
            <div class="form-group">
                <label>Loại địa chỉ:</label>
                <br />
                <select name="AddressType" class="form-control">
                    <option value="Nhà riêng" selected>Nhà riêng</option>
                    <option value="Văn phòng">Văn phòng</option>
                </select>
            </div>
        </div>

        <div class="col-md-8">
            <h4>Sản phẩm</h4>
            @Html.Action("Partial_Item_Thanhtoan", "ShoppingCart");
        </div>
    </div>
    <hr />
<div class="row">
        <table>
            <tr >
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Lời nhắn:</label>
                        <input placeholder="Lưu ý cho người bán..." name="MessegesForBuyer" type="text" class="form-control" autocomplete="off" />
                    </div>
                </div>
            </tr>
            <tr>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>
                            Đơn vị vận chuyển:
                        </label>
                        <select name="ShippingUnit" class="form-control">
                            <option value="Giao hàng nhanh" selected>Giao hàng nhanh</option>
                            <option value="Giao hàng tiết kiệm">Giao hàng tiết kiệm</option>
                            <option value="NinjaVan">NinjaVan</option>
                            <option value="ViettelPost">ViettelPost</option>
                        </select>
                    </div>
                </div>
            </tr>
            <tr>
                <div class="col-md-3">
                    <div class="form-group">
                        <label> Chọn Shopee Voucher: </label>
                        <input placeholder="Mã Shopee Voucher" name="Voucher" type="text" class="form-control" autocomplete="off" />
                    </div>
                </div>
            </tr>
            <tr>
                <div class="col-md-2">
                    <div class="form-group">
                        <label></label>
                        <input type="button" style="color: white;" value="Áp dụng" class="form-control btn btn-primary" />
                    </div>
                </div>
            </tr>
        </table>
    </div>
    <hr />

    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label>Phương thức thanh toán:</label>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <select name="TypePayment" class="form-control">
                    <option value="Thanh toán khi nhận hàng" selected> Thanh toán khi nhận hàng</option>
                    <option value="Ví ShoppePay"> Ví ShoppePay</option>
                    <option value="Ví trả sau"> Ví trả sau</option>
                    <option value="Thẻ ngân hàng/ ghi nợ"> Thẻ ngân hàng/ ghi nợ</option>
                </select>
            </div>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-9">
            <div class="form-group">
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <input type="submit" style="color:  white;" class="form-control btn btn-success" value="Đặt hàng" />
            </div>
        </div>
    </div>

}

