<html>
<head>
    <style>
        .anhnen{
            width: 100%;
            height: 100%;
        }
        form{
            background-color: white;
        }
    </style>
</head>
<body>
    <div class="anhnen">
                <input type="text" placeholder="Tên đăng nhập" />
                <input type="password" placeholder="Mật khẩu" />
    </div>
</body>
</html>