@model WebBanHangOnline.Models.EF.Subscribe

<div class="newsletter">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="newsletter_text d-flex flex-column justify-content-center align-items-lg-start align-items-md-center text-center">
                    <h4>Tin tức mới nhất về xe</h4>
                    <p>Liên hệ ngay với chúng tôi để nhận được ưu đãi lên tới 20%</p>
                </div>
            </div>
            <div class="col-lg-6">
                @using (Ajax.BeginForm("Subcribe", "home", new AjaxOptions
                {
                    OnBegin = "OnBeginSub",
                    OnSuccess = "OnSuccessSub",
                    OnFailure = "OnFailureSub"
                }))

                {
                    @Html.AntiForgeryToken();
                    <script>
                        function OnBeginSub() {

                        }
                        function OnSuccessSub(rs) {
                            if (rs.Success == true) {
                                alert("ok");
                            }
                        }
                        function OnFailureSub(rs) {

                        }
                    </script>
                        <div class="newsletter_form d-flex flex-md-row flex-column flex-xs-column align-items-center justify-content-lg-end justify-content-center">
                            @*@Html.TextBoxFor(a=>a.Email, new {@placheholder = "Email", @type = "email", @required = "required" })*@
                            <input id="newsletter_email" name="Email" type="email" placeholder="Email của bạn" required="required" data-error="Valid email is required.">
                            <button id="newsletter_submit" type="submit" class="newsletter_submit_btn trans_300" value="Submit">Đăng ký</button>
                        </div>
                }

            </div>
        </div>
    </div>
</div>
