<div class="sidebar">
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
            <img src="~/Content/clients/dist/img/1111.jpg" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
            <a href="#" class="d-block">Phan Mạnh Tuân</a>
        </div>
    </div>

    <!-- Sidebar Menu -->
    <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
            <!-- Add icons to the links using the .nav-icon class
            with font-awesome or any other icon font library -->
            <li class="nav-item">
                <a href="/admin/Category" class="nav-link">
                    <i class="nav-icon fas fa-tachometer-alt"></i>
                    <p>
                        Danh mục
                        @*<i class="right fas fa-angle-left"></i>*@
                    </p>
                </a>

            </li>
            <li class="nav-item">
                <a href="/admin/news" class="nav-link">
                    <i class=" nav-icon fa fa-book icon"></i>
                    <p>
                        Tin tức
                    </p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/admin/posts" class="nav-link">
                    <i class=" nav-icon fa fa-book icon"></i>
                    <p>
                        Bài viết
                    </p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/admin/products" class="nav-link">
                    <i class="nav-icon fas fa-th"></i>
                    <p>
                        Quảng cáo
                    </p>
                </a>
            </li>

            <li class="nav-item">
                <a href="#" class="nav-link">
                    <i class="nav-icon fas fa-tachometer-alt"></i>
                    <p>
                        Quản lý sản phẩm
                        <i class="right fas fa-angle-left"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="/admin/productcategory" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Danh mục sản phẩm</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/admin/products" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Sản phẩm </p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="~/admin/Category/" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Bảo trì xe</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="~/admin/Order" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Đơn hàng</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="~/admin/Category/" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Lắp đặt phụ kiện xe</p>
                        </a>
                    </li>
                </ul>
            </li>

            <li class="nav-item">
                <a href="/admin/news" class="nav-link">
                    <i class="nav-icon fas fa-th"></i>
                    <p>
                        Hướng dẫn sử dụng
                    </p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/admin/news" class="nav-link">
                    <i class="nav-icon fas fa-th"></i>
                    <p>
                        Mua xe
                    </p>
                </a>
            </li>

            <li class="nav-item">
                <a href="/news" class="nav-link">
                    <i class="nav-icon fas fa-th "></i>
                    <p>
                        Cấu hình hệ thống
                        @*<span class="right badge badge-danger">New</span>*@
                    </p>
                </a>
            </li>

        </ul>
    </nav>
    <!-- /.sidebar-menu -->
</div>
<!-- /.sidebar -->