@model WebBanHangOnline.Models.EF.SignUpForTestDrive
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/main_styles.css">
<link rel="stylesheet" type="text/css" href="~/content/assets/styles/bootstrap4/bootstrap.min.css">
<link href="~/content/assets/plugins/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="~/content/assets/plugins/OwlCarousel2-2.2.1/owl.carousel.css">
<link rel="stylesheet" type="text/css" href="~/content/assets/plugins/OwlCarousel2-2.2.1/owl.theme.default.css">
<link rel="stylesheet" type="text/css" href="~/content/assets/plugins/OwlCarousel2-2.2.1/animate.css">
<link rel="stylesheet" href="~/content/assets/plugins/themify-icons/themify-icons.css">
<link rel="stylesheet" type="text/css" href="~/content/assets/plugins/jquery-ui-1.12.1.custom/jquery-ui.css">
<link rel="stylesheet" type="text/css" href="~/content/assets/styles/contact_styles.css">
<link rel="stylesheet" type="text/css" href="~/content/assets/styles/contact_responsive.css">

<div style="margin-top: 150px" class="container contact_container">
    <div class="row">
        <div class="col">
            <div class="breadcrumbs d-flex flex-row align-items-center">
                <ul>
                    <li><a href="/">Trang chủ</a></li>
                    <li class="active"><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Đăng ký lái thử thành công</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="detail-content">
        <p style="font-size:150px;text-align:center;padding-top:0px;" class="text-success">
            <i class="fa fa-check-circle"></i>
        </p>
        <p style="font-size:150%;text-align:center;margin-bottom:6px;">CÁM ƠN BẠN ĐÃ ĐĂNG KÝ LÁI THỬ</p>
        <p style="text-align:center;padding-bottom:10px;">Chúng tôi sẽ liên hệ với bạn trong thời gian sớm nhất</p>
        <p style="text-align:center;margin-bottom:30px;"><a href="/" class="btn btn-danger"><i class="fa fa-angle-double-left">&nbsp;</i>QUAY TRỞ LẠI TRANG CHỦ</a></p>
    </div>
</div>



