@model IEnumerable<WebBanHangOnline.Models.EF.News>
<style>

</style>
<div style="margin-top: 200px" class="container contact_container">

    <div class="container news_section_container">
            <div >
                <img style="max-width: 1296px; padding: 12px" class="abcd" src="~/Content/assets/images/ảnh nền ấnncnasc.png"  />
            </div>
    </div>
</div>




