@model IEnumerable<WebBanHangOnline.Models.EF.News>
    <style>
        .abcde {
            padding: 10px;
            background-image: linear-gradient(to right, #a2e6f0, #aebefe, #dfacf8);
            background-repeat: no-repeat;
            background-position: 200px -200px;
            transition: background-position 0.5s ease-in-out;
        }

            .abcde:hover {
                color: white;
                background-position: 0 0;
            }
    </style>

    <div class="best_sellers">
        <div class="container">
            <div class="row">
                <div class="col text-center">
                    <div class="section_title new_arrivals_title">
                        <h2> <i class="fa fa-newspaper-o" aria-hidden="true"></i> TIN TỨC </h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="product_slider_container">
                        <div class="owl-carousel owl-theme product_slider owl-loaded owl-drag">
                            @foreach (var item in Model)
                            {
                                <div class="owl-item product_slider_item">
                                    <div class="product-item">
                                        <div class="product discount abcde">
                                            <div class="product_image">
                                                <img style="min-height: 160px;" src="@item.Image" alt="@item.Title">
                                            </div>
                                            <div class="product_info">
                                                <h6 class="product_name">
                                                    <a class="text-danger" href="/@item.Alias-n@(item.Id)">
                                                        @item.Title <br />
                                                    </a>
                                                </h6>
                                                <i>Ngày đăng: @item.ModifiedDate.ToString("dd/MM/yyyy")</i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>

                    <!-- Slider Navigation -->

                    <div class="product_slider_nav_left product_slider_nav d-flex align-items-center justify-content-center flex-column">
                        <i class="fa fa-chevron-left" aria-hidden="true">a</i>
                    </div>
                    <div class="product_slider_nav_right product_slider_nav d-flex align-items-center justify-content-center flex-column">
                        <i class="fa fa-chevron-right" aria-hidden="true">a</i>
                    </div>
                </div>
                </div>
            </div>
        </div>
