<td align="center" style="background-color:#ffffff" bgcolor="#ffffff" border="0">

	<table style="max-width:740px;width:100%" cellpadding="0" cellspacing="0" border="0">
		<tbody>
			<tr>
				<td align="center" style="margin-left:0px;margin-right:0px;padding:0px 15px 0px 15px" border="0">
					<p></p><table style="width:100%" cellpadding="0" cellspacing="0" border="0">
						<tbody>
							<tr>
								<td style="border-bottom:3px solid #72bf00;padding:20px 0px 20px 0px">
									<table style="width:100%" cellpadding="0" cellspacing="0" border="0">
										<tbody>
											<tr>
												<td style="font-size:0px;padding:0px 1px 0px 1px" border="0">
													<table style="width:100%" cellpadding="0" cellspacing="0" border="0">
														<tbody>
															<tr>
																<td align="left" valign="middle" style="width:68%;font-size:0px;min-height:1px" border="0">
																	<table style="width:100%;max-width:100%;border-collapse:collapse;word-break:break-word" cellpadding="0" cellspacing="0" border="0">
																		<tbody>
																			<tr>
																				<td width="21" style="vertical-align:middle;border-collapse:collapse;word-break:break-word" border="0">
																					<a href="tel:1900545413" style="font-family: 'SF Pro Text',Arial,sans-serif; text-align: left; text-decoration: none; color: darkred" target="_blank">
																						<img src="https://ci3.googleusercontent.com/meips/ADKq_NYBTAFr35Uc3uHwCM33VdOs403wgCsDoYHlq1rjm7LdXSLipN8p3q_FDIJWA3lmGWXU9Y4bzmf7-KbwuZfeRChBEqReKPVVInIZUISXMR2sfCOohlOpKgitD96q910BOZoMKQWLL5PmZwblKGg=s0-d-e1-ft#https://portal.vietcombank.com.vn/content/imagebase/PublishingImages/DigiBank/phone.png" width="16" alt="Tứ Quý Auto" style="width:16px;max-width:100%;display:inline-block;height:auto" border="0" height="16" class="CToWUd" data-bit="iit">
																					</a>
																				</td>
																				<td width="130" style="vertical-align:middle;border-collapse:collapse;word-break:break-word" border="0">
																					<a href="tel:1900545413" style="font-family: 'SF Pro Text',Arial,sans-serif; font-size: 14px; line-height: 20px; text-align: left; text-decoration: none; color: darkred" target="_blank">
																						0388582994
																					</a>
																				</td>
																				<td style="border-collapse:collapse;word-break:break-word" border="0"></td>
																			</tr>
																			<tr>
																				<td width="21" style="vertical-align:middle;border-collapse:collapse;word-break:break-word" border="0">
																					<a href="https://www.facebook.com/profile.php?id=100026407069743" style="font-family: 'SF Pro Text',Arial,sans-serif; text-align: left; text-decoration: none; color: darkred" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://portal.vietcombank.com.vn&amp;source=gmail&amp;ust=1709902090805000&amp;usg=AOvVaw2JoqhqqCm7ID43Tkex6cTb">
																						<img src="https://ci3.googleusercontent.com/meips/ADKq_NaSgvcWvSioZYbsnLzfw_sBtwCNeRDLKwoeuQnIvF-Z32YCDWUojnANYVpuUHUndKXCBBTgKxeIAsRzqWzgp79uoAy7yIqpEWEYs6Ig_GG1FBr-tQWNaKYjgD6seALb9wnRk-7aoQoQ2Nk2ayE=s0-d-e1-ft#https://portal.vietcombank.com.vn/content/imagebase/PublishingImages/DigiBank/globe.png" width="17" alt="Vietcombank" style="width:17px;max-width:100%;display:inline-block;height:auto" border="0" height="17" class="CToWUd" data-bit="iit">
																					</a>
																				</td>
																				<td width="230" style="vertical-align:middle;border-collapse:collapse;word-break:break-word" border="0">
																					<a href="https://www.facebook.com/profile.php?id=100026407069743" style="font-family: 'SF Pro Text',Arial,sans-serif; font-size: 14px; line-height: 20px; text-align: left; text-decoration: none; color: darkred" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://portal.vietcombank.com.vn&amp;source=gmail&amp;ust=1709902090805000&amp;usg=AOvVaw2JoqhqqCm7ID43Tkex6cTb">
																						Tứ Quý Auto
																					</a>
																				</td>
																				<td style="border-collapse:collapse;word-break:break-word" border="0"></td>
																			</tr>
																		</tbody>
																	</table>
																</td>
																<td align="left" valign="middle" style="width:32%;font-size:0px;min-height:1px" border="0">
																	<p style="font-family:'SF Pro Text',Arial,sans-serif;font-size:12px;line-height:16px;text-align:right;margin:0px;color:#4a4a4a">
																		<a href="https://www.facebook.com/profile.php?id=100026407069743" width="300px" alt="Xe đẹp" style="width:300px;max-width:100%;display:inline-block;height:auto;font-size: 35px; color: darkred; display:block; padding-right: 10px;text-decoration: none; text-align: right" border="0" height="154.5" class="CToWUd" data-bit="iit">TỨ QUÝ AUTO</a>
																	</p>
																</td>
															</tr>
														</tbody>
													</table>
												</td>
											</tr>
										</tbody>
									</table>
								</td>
							</tr>
							<tr>
								<td align="left" style="padding:30px 0px 20px 0px" border="0">
									<p style="font-family:'SF Pro Text',Arial,sans-serif;font-size:24px;line-height:29px;text-align:center;margin:0px;color:#4a4a4a">
										<b>Lịch hẹn dịch vụ</b>
										<br>
										<b style="font-size:16px;line-height:24px">Cảm ơn bạn đã dùng dịch vụ của chúng tôi</b>
									</p>
								</td>
							</tr>
							<tr>
								<td align="left" style="padding:30px 0px 20px 0px" border="0">
									<p style="font-family:'SF Pro Text',Arial,sans-serif;font-size:14px;line-height:29px;text-align:left;margin:0px;color:#4a4a4a">
										<b>Thời gian đặt lịch hẹn: {{NgayDat}}</b>
									</p>
								</td>
							</tr>
							<tr>
								<td align="left" style="font-size:14px;line-height:20px;padding:0px 0px 30px 0px" border="0">
									<table style="width:100%;max-width:100%;border-collapse:collapse;word-break:break-word;min-width:640px;border-top:1px solid #c5c5c5;border-right:1px solid #c5c5c5;border-bottom:1px solid #c5c5c5;border-left:1px solid #c5c5c5" cellpadding="0" cellspacing="0" border="0">
										<tbody>
											<tr style="text-align:center;">
												<td colspan="2" width="300" style="font-family:'SF Pro Text',Arial,sans-serif;border-collapse:collapse;word-break:break-word;font-size:14px;border-top:1px solid #c5c5c5;border-right:1px solid #c5c5c5;border-bottom:1px solid #c5c5c5;border-left:1px solid #c5c5c5;padding:5px 10px 5px 10px">
													<b>Dịch vụ</b><br>
												</td>

												<td width="200" style="font-family:'SF Pro Text',Arial,sans-serif;border-collapse:collapse;word-break:break-word;font-size:14px;border-top:1px solid #c5c5c5;border-right:1px solid #c5c5c5;border-bottom:1px solid #c5c5c5;border-left:1px solid #c5c5c5;padding:5px 10px 5px 10px">
													<b>{{DichVu}}</b><br>
												</td>
											</tr>
											<tr style="text-align:center;">
												<td colspan="2" width="250" style="font-family:'SF Pro Text',Arial,sans-serif;border-collapse:collapse;word-break:break-word;font-size:14px;border-top:1px solid #c5c5c5;border-right:1px solid #c5c5c5;border-bottom:1px solid #c5c5c5;border-left:1px solid #c5c5c5;padding:5px 10px 5px 10px">
													<b>Thời gian tới: </b><br>
												</td>
												<td width="250" style="font-family:'SF Pro Text',Arial,sans-serif;border-collapse:collapse;word-break:break-word;font-size:14px;border-top:1px solid #c5c5c5;border-right:1px solid #c5c5c5;border-bottom:1px solid #c5c5c5;border-left:1px solid #c5c5c5;padding:5px 10px 5px 10px">
													<b>{{NgayToi}} ({{ThoiGianToi}})</b><br>
												</td>
											</tr>
										</tbody>
									</table>
								</td>
							</tr>

							<tr>
								<td style="margin-left:0px;margin-right:0px;padding:0px 0px 30px 0px" border="0" align="center">
								</td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
			<tr>
				<td style="padding:0px 0px 30px 0px" border="0" align="left">
					<div style="font-family: 'Times New Roman'">
						<h2 style="color: forestgreen; display: block; font-family: 'Helvetica Neue',Helvetica,Roboto,Arial,sans-serif; font-size: 18px; font-weight: bold; line-height: 130%; margin: 0 0 18px; text-align: left ">
							Thông tin khách hàng
						</h2>

						<h4 style="padding:12px; border:1px solid #e5e5e5;font-family: 'Times New Roman'">
							Ông/bà: {{TenKhachhang}}            -                Địa chỉ: {{DiaChiLienHe}}
							<br>SĐT: {{Phone}}             -               Email:<a href="mailto:{{Email}} " style="text-decoration: none;" target="_blank">{{Email}}</a> <br>Xe: {{Xe}} <br>
						</h4>
					</div>
				</td>
			</tr>
			<tr>
				<td style="padding:0px 0px 15px 0px" border="0" align="left">
					<p style="font-family:'SF Pro Text','Arial',sans-serif;font-size:14px;line-height:24px;text-align:left;margin:0px;color:#4a4a4a">
						<b>Ông/bà hãy đến đúng giờ để được chúng tôi phục vụ tốt nhất nhé!</b><br>
					</p>
				</td>
			</tr>
			<tr>
				<td style="padding:0px 0px 30px 0px" border="0" align="left">
					<p style="font-family:'SF Pro Text','Arial',sans-serif;font-size:16px;line-height:24px;text-align:center;margin:0px;color:#4a4a4a">
						<b>Cám ơn Quý khách đã sử dụng dịch vụ của Tứ Quý Auto!</b><br><i>
							Thank you for banking with
							Tứ Quý Auto!
</i>
					</p>
				</td>
			</tr>
		</tbody>
	</table>
</td>
                </tr>
              </tbody></table>

            </td>